In [3]:
import pandas as pd
df =  pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")
df.info()
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB
name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

remove duplicate

In [8]:
#remove duplicated
print("Duplicated",df.duplicated().sum())
#remove duplicated rows
df =df.drop_duplicates()
print("removed_duplicated_rows_shape:",df.shape)

Duplicated 0
removed_duplicated_rows_shape: (3577, 8)

In [9]:
#standarize column rows
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
print(df.columns)

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [15]:
# Remove commas in km_driven and convert to int
df['km_driven'] = df['km_driven'].astype(str).str.replace(",", "").astype(int)

# Selling price should be integer
df['selling_price'] = df['selling_price'].astype(int)

print(df['km_driven'])
print(df['selling_price'])
# Remove leading/trailing spaces and standardize case
for col in ['name', 'fuel', 'seller_type', 'transmission', 'owner']:
    df[col] = df[col].str.strip().str.title()
# Example: Remove cars with unrealistic km_driven (>1,000,000) or price (>1 crore)
df = df[(df['km_driven'] < 1_000_000) & (df['selling_price'] < 10_000_000)]
# Numerical summary
print(df.describe())

# Unique value counts for important categorical variables
print(df['fuel'].value_counts())
print(df['owner'].value_counts())
df.to_csv("car_data_cleaned.csv", index=False)
print("✅ Cleaned data saved to car_data_cleaned.csv")

0        70000
1        50000
2       100000
3        46000
4       141000
         ...
4335     80000
4336     80000
4337     83000
4338     90000
4339     40000
Name: km_driven, Length: 3577, dtype: int64
0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 3577, dtype: int64
              year  selling_price      km_driven
count  3577.000000   3.577000e+03    3577.000000
mean   2012.962538   4.739125e+05   69250.545709
std       4.251759   5.093018e+05   47579.940016
min    1992.000000   2.000000e+04       1.000000
25%    2010.000000   2.000000e+05   36000.000000
50%    2013.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000
fuel
Diesel      1800
Petrol      1717
Cng           37
Lpg           22
Electric       1
Name: count, dtype: int64
owner
First Owner             2218
Second Owner             978
Third Owner              289
Fourth & Above Owner      75
Test Drive Car            17
Name: count, dtype: int64
✅ Cleaned data saved to car_data_cleaned.csv

In [34]:
import pandas as pd
import numpy as np
df = pd.read_csv("car_data_cleaned.csv")
#df.describe()
#df.info()
#print(df.head())
#print(df["km_driven"].max())
df1 = df["km_driven"]
df2 = df["selling_price"]

compare_data=df1.compare(df2)
#print(compare_data)
#print(df2.value_counts())
#print(df1.value_counts())
#print("km_driven for overall average:",df1.mean()-df2.median())
#print(df.iloc[1])
#print(type[df["km_driven"]])
arr_1d = df["km_driven"].to_numpy()
print(arr_1d)
print("type of data",arr_1d.dtype)
arr_1d_max = np.max(arr_1d)
print(arr_1d_max)
arr_1d_cumsum = np.cumsum(arr_1d)
print(arr_1d_cumsum)
print("type of cumalative sum",arr_1d_cumsum.dtype)

[ 70000  50000 100000 ...  83000  90000  40000]
type of data int64
806599
[    70000    120000    220000 ... 247579202 247669202 247709202]
type of cumalative sum int64